body{
    font-size: 16px;
	color:#000;
	font-family: 'Roboto', sans-serif;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.heading-bg{
	background-color: #000;
	color: #fff;
	margin-bottom: 15px;
}

.pagebody{
	background-color: #fff;
	color: #000;
}
.addUser {
    padding: 0px 0px 10px 0px;
}

.btn {
    display: inline-block;
    padding: 6px 40px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

thead,tbody,tr,th,td{
	border: 1px solid #000;
	text-align: center;
}

form.user-form {
    width: 60%;
    margin: 0px auto;
}
